# Treinamento inicial Data Science

**Importar biblioteca do pandas como** pd.


1. *Uri é a variável que carregará os dados que iremos analisar, no caso, a lista com os filmes, generos e ID.*

1. *Head é o cabeçalho => printará as 5 primeiras linhas do dado*

1. *DataFrame é a variavel que lê estes dados direto.*

1. *Passando as colunas para o portugues* --> columns = ['filmeID','titulo','generos']

In [7]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
DataFrameFilmes = pd.read_csv(uri)
DataFrameFilmes.head()   
DataFrameFilmes.columns = ["filmeId", "titulo", "generos"]

In [8]:
DataFrameFilmes.head()

,filmeId,titulo,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
ur = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
dfnotas = pd.read_csv(ur)
dfnotas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

*ur é a variavel que guarda a lista de cada ID dos filmes, suas notas, tempo da votação em relação a alguma data fixa.*
*dfnotas é a variavel que lê estes dados, e entao printamos o 'head' (os 5 primeiros itens) desta leitura*

## Está ocorrendo alguns erros abaixo pois não fizemos a variavel 'reler' os dados. Teremos que refazer os msm codigos em outro projeto. **Isso não significa que os codigos estao errados. **

In [2]:
dfnotas.columns = ["usuarioId", "filmeId", "nota","momento"]
dfnotas

NameError: name 'dfnotas' is not defined

In [3]:
dfnotas["nota"]

NameError: name 'dfnotas' is not defined

In [7]:
dfnotas["nota"].unique() #Quais os valores unicos/quais valores estão na lista?

NameError: name 'dfnotas' is not defined

In [8]:
dfnotas["nota"].mean() #media das notas

NameError: name 'dfnotas' is not defined

In [9]:
dfnotas["nota"].min() #nota mínima

NameError: name 'dfnotas' is not defined

In [10]:
dfnotas.describe() ##descreva o dado. Várias medidas estatísticas    
##No caso, na coluna nota:  count = quantidade de notas. mean = média das notas. min = valor minimo. max= valor maximo.
#50% = mediana das notas. std = desvio padrão.
##25% = mostra que 25% das notas são menores do que... no caso 3. 75% = 75% das notas sao menos do que... no caso 4.

NameError: name 'dfnotas' is not defined

In [11]:
dfnotas['nota'].value_counts

NameError: name 'dfnotas' is not defined

In [12]:
dfnotas.nota.head()

NameError: name 'dfnotas' is not defined