In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
ur = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(ur)
notas.head()
arr = notas['rating'].round(1)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
notas.rating.plot(kind='hist')

NameError: name 'notas' is not defined